/* Change the color of selected text */
/* ::selection {
  background: rgb(255, 55, 0);  
  color: #fff;       
} */
/* use google fonts roboto for h1, p, textarea */
h1, p, textarea {
  font-family: 'Roboto', sans-serif;
} 

/* change textarea font to size 10px */
@media (min-width: 600px) {
  .form-control {
    font-size: 1.3em;
  }
}
@media (max-width: 600px) {
  .form-control {
    font-size: 1.1em;
  }
}
/* make styling of name=submit be same size and width as name='number' style="width: 4ch; font-size: 60px */
input[type="submit"] {
  width: 4ch;
  font-size: 60px;
}

::selection {
  background: rgb(0, 255, 0); /* Background color of the selection on hover */
}
 