/* Change the color of selected text */
/* ::selection {
  background: rgb(255, 55, 0);  
  color: #fff;       
} */
/* use google fonts roboto for h1, p, textarea */
@font-face {
    font-family: "Sunset Demibold";
    src: url("fonts/sunset-demibold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Apercu Pro Bold";
    src: url("https://db.onlinewebfonts.com/t/bbecd6e12f97db669f1cbab12fc6d06b.eot");
    src: url("https://db.onlinewebfonts.com/t/bbecd6e12f97db669f1cbab12fc6d06b.eot?#iefix") format("embedded-opentype"),
         url("https://db.onlinewebfonts.com/t/bbecd6e12f97db669f1cbab12fc6d06b.woff2") format("woff2"),
         url("https://db.onlinewebfonts.com/t/bbecd6e12f97db669f1cbab12fc6d06b.woff") format("woff"),
         url("https://db.onlinewebfonts.com/t/bbecd6e12f97db669f1cbab12fc6d06b.ttf") format("truetype"),
         url("https://db.onlinewebfonts.com/t/bbecd6e12f97db669f1cbab12fc6d06b.svg#Apercu Pro Bold") format("svg");
}

/* Apply Sunset Demibold to big titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Sunset Demibold", sans-serif;
}

/* Apply Apercu Pro Bold to the rest of the text */
body, p, a, div, span, button, input {
    font-family: "Apercu Pro Bold", sans-serif;
    font-size: 1rem;
}

p {
  /* make italics */
}
h4 {
  font-style: italic;
  font-size: 1rem;
}

/* change textarea font to size 10px */
@media (min-width: 600px) {
  .form-control {
    font-size: 1.3em;
  }
}
@media (max-width: 600px) {
  .form-control {
    font-size: 1.1em;
  }
}
/* make styling of name=submit be same size and width as name='number' style="width: 4ch; font-size: 60px */
input[type="submit"] {
  width: 4ch;
  font-size: 60px;
}

::selection {
  background: rgb(0, 255, 0); /* Background color of the selection on hover */
}

/* make class floating  */

.popup {
  position: absolute; /* Or 'fixed' if you want it to stay in place when scrolling */
  /* top: 50px;   */
  /* left: 50px;   */
  width: 227px;  
  padding: 20px;
  background-color: #e1e1e1a1;
  /* border: 1px solid black; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Ensure it is on top */
  display: none; /* Initially hidden */
}

.jump_num{
  /* set width to 10ch */
  width: 10ch;
}
.form-control{
  line-height: 21.5px;
  font-size: 1rem;
}

 
/* for class .jump float sticky to bottom right offset 100 */
.jump {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 1000;
}